
.infolabel {
    font-family: unset;
}

.infolabel span,
[class~=sexleak1] span,
[class~=sexleak] span,
[class~=ki] {
    position: absolute;
}

.infolabel {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

[class~=sexleak] span,
[class~=sexleak1] span,
.infolabel span {
    float: left;
}

.infolabel,
[class~=cashmoney] {
    background-color: #000;
}

.infolabel {
    border-radius: 14.25pt;
}

[class~=sexleak] span,
.infolabel span,
[class~=sexleak1] span {
    left: 2.5vw;
}

.ki img,
.ki2,
[class~=ki],
[class~=sexleak] span,
[class~=sexleak1] span,
.infolabel span,
[class~=cashmoney],
.infolabel {
    transition: all ease .5s;
}

.infolabel {
    padding-left: .6vw;
}

.infolabel,
[class~=cashmoney] {
    padding-bottom: .5vw;
}

.infolabel,
[class~=cashmoney] {
    padding-right: .5vw;
}

.infolabel {
    padding-top: .5vw;
}

[class~=cashmoney],
.infolabel {
    background-repeat: no-repeat;
}

.infolabel span {
    top: .2vw;
}

.infolabel span,
[class~=sexleak] span,
[class~=sexleak1] span,
[class~=cashmoney] {
    color: white;
}

.infolabel,
[class~=cashmoney] {
    background-size: contain;
}

.infolabel {
    border-bottom-right-radius: 5px;
}

.infolabel {
    border-top-right-radius: 3.75pt;
}

[class~=cashmoney],
.infolabel {
    font-weight: bold;
}

[class~=cashmoney],
.infolabel {
    white-space: nowrap;
}

[class~=cashmoney],
.infolabel {
    font-size: .8vw;
}

[class~=cashmoney] {
    font-family: unset;
}

[class~=cashmoney] {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

[class~=cashmoney] {
    border-radius: 19px;
}

[class~=cashmoney] {
    padding-left: 2.4vw;
}

[class~=cashmoney] {
    padding-top: .2vw;
}

[class~=cashmoney] {
    border-bottom-right-radius: 5px;
}

[class~=cashmoney] {
    border-top-right-radius: 3.75pt;
}

.ki2,
.ki img,
[class~=ki2] img,
[class~=ki] {
    height: 1vw;
}

.ki2,
[class~=ki] {
    width: 1.2vw;
}

[class~=ki] {
    top: .9vw;
}

[class~=ki],
.ki2 {
    left: 0vw;
}

[class~=ki],
.ki2 {
    background-image: -webkit-linear-gradient(left, #f00 0%, #6d0000 50%, #360000 100%);
}

.ki2,
[class~=ki] {
    padding-left: .2vw;
}

[class~=ki],
.ki2 {
    padding-bottom: .2vw;
}

.ki2,
[class~=ki] {
    padding-right: .2vw;
}

.ki2,
[class~=ki] {
    padding-top: .2vw;
}

.ki2,
[class~=ki] {
    border-radius: 10vw;
}

[class~=ki] {
    border-left-width: .15vw;
}

[class~=ki] {
    border-bottom-width: .15vw;
}

[class~=ki] {
    border-right-width: .15vw;
}

.ki2,
.ki3 img,
[class~=ki3],
[class~=ki2] img,
.ki img {
    position: absolute;
}

[class~=ki] {
    border-top-width: .15vw;
}

[class~=ki] {
    border-left-style: solid;
}

[class~=ki] {
    border-bottom-style: solid;
}

[class~=ki] {
    border-right-style: solid;
}

[class~=ki] {
    border-top-style: solid;
}

[class~=ki2] img,
.ki3 img,
.ki img {
    width: 1vw;
}

[class~=ki] {
    border-left-color: red;
}

[class~=ki] {
    border-bottom-color: red;
}

[class~=ki] {
    border-right-color: red;
}

[class~=ki] {
    border-top-color: red;
}

[class~=ki] {
    border-image: none;
}

[class~=ki2] img,
.ki3 img,
[class~=ki3] {
    transition: all ease .5s;
}

.ki2 {
    top: 3.1vw;
}

.ki3 img,
[class~=ki3] {
    height: 1vw;
}

.ki2 {
    border-left-width: .15vw;
}

.ki2 {
    border-bottom-width: .15vw;
}

.ki2 {
    border-right-width: .15vw;
}

.ki2 {
    border-top-width: .15vw;
}

.ki2 {
    border-left-style: solid;
}

.ki2 {
    border-bottom-style: solid;
}

.ki2 {
    border-right-style: solid;
}

.ki2 {
    border-top-style: solid;
}

.ki2 {
    border-left-color: red;
}

.ki2 {
    border-bottom-color: red;
}

.ki2 {
    border-right-color: red;
}

.ki2 {
    border-top-color: red;
}

.ki2 {
    border-image: none;
}

[class~=ki3] {
    width: 1.2vw;
}

[class~=ki3] {
    top: 5.5vw;
}

[class~=ki3] {
    left: 0vw;
}

[class~=ki3] {
    background-image: -webkit-linear-gradient(left, #f00 0%, #6d0000 50%, #360000 100%);
}

[class~=ki3] {
    padding-left: .2vw;
}

[class~=ki3] {
    padding-bottom: .2vw;
}

[class~=ki3] {
    padding-right: .2vw;
}

[class~=ki3] {
    padding-top: .2vw;
}

[class~=ki3] {
    border-radius: 10vw;
}

[class~=ki3] {
    border-left-width: .15vw;
}

[class~=ki3] {
    border-bottom-width: .15vw;
}

[class~=ki3] {
    border-right-width: .15vw;
}

[class~=ki3] {
    border-top-width: .15vw;
}

[class~=ki3] {
    border-left-style: solid;
}

[class~=ki3] {
    border-bottom-style: solid;
}

[class~=ki3] {
    border-right-style: solid;
}

[class~=ki3] {
    border-top-style: solid;
}

[class~=ki3] {
    border-left-color: red;
}

[class~=ki3] {
    border-bottom-color: red;
}

[class~=ki3] {
    border-right-color: red;
}

[class~=ki3] {
    border-top-color: red;
}

[class~=ki3] {
    border-image: none;
}
